<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionListener, HttpSessionAttributeListener</description>
        <listener-class>com.wechat.listener.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.wechat.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.wechat.servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.wechat.servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.wechat.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrawImage</servlet-name>
        <servlet-class>com.wechat.servlet.DrawImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLog</servlet-name>
        <servlet-class>com.wechat.servlet.ManagerLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRegister</servlet-name>
        <servlet-class>com.wechat.servlet.ManagerRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerExit</servlet-name>
        <servlet-class>com.wechat.servlet.ManagerExit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserReg</servlet-name>
        <servlet-class>com.wechat.servlet.ManageUserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllUserByCondition</servlet-name>
        <servlet-class>com.wechat.servlet.SelectAllUserByCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUpdateUser</servlet-name>
        <servlet-class>com.wechat.servlet.ManageUpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrawImage</servlet-name>
        <url-pattern>/DrawImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLog</servlet-name>
        <url-pattern>/ManagerLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRegister</servlet-name>
        <url-pattern>/ManagerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerExit</servlet-name>
        <url-pattern>/ManagerExit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserReg</servlet-name>
        <url-pattern>/ManageUserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllUserByCondition</servlet-name>
        <url-pattern>/SelectAllUserByCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUpdateUser</servlet-name>
        <url-pattern>/ManageUpdateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
